#game-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  width: 100vw;
  height: 100vh;
  justify-items: center;
  align-items: center;
}
.tile {
  font-size: 5rem; /* Big emoji tiles */
  cursor: pointer;
  transition: transform 0.3s;
}
